@font-face {
  font-family: "Resolve Sans Light";
  src: url("/fonts/resolve_sans/resolve-light.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #061d50;
  --hover-color: #e20101;
  --border-gray: #cdd3e1; /* Default border color */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --hover-color: #e20101;
    --border-gray: #cdd3e1;
  }
} */

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Resolve Sans Light", helvetica, arial, sans-serif;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

a:hover,
li:hover,
span:hover {
  color: var(--hover-color);
}
