.navbar {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  height: 88px;
}

.preheader {
  height: 2.2rem;
  background-color: #fafbfc;
  border-bottom: 1px solid #f3f5f7;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 15px;
  font-size: 15px;
  border-left: 2px solid var(--hover-color);
  white-space: nowrap;
}

.navbar:hover .nav-item {
  border-left: 2px solid var(--border-gray);
}

.navbar .nav-item:hover {
  border-left: 2px solid var(--hover-color) !important;
}

.nav-menu{
  grid-template-columns: repeat(4, auto);
}

@media screen and (max-width: 1279) {
  .nav-item {
    font-size: 13px;
  }
}

@media screen and (min-width: 1280) {
  .navbar {
    padding: 11.2px 50px 11.2px 1rem;
  }
}

@media screen and (min-width: 1460) {
  .nav-menu{
    display: flex;
  }
}
